<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <link href="./static/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="./static/img/favicon.ico" rel="apple-touch-icon">
    <link rel="stylesheet" type="text/css" href="./static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <script type="text/javascript" src="./static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./static/js/big.min.js"></script>

    <title tkey="eosstablecoin"></title>
</head>
<body>
<div class="header">
    <div class="container" align="center" style="color: #fff2f0;background-color: #2a7ae2;font-size: 20px" >
        <h1 tkey="eosstable_notice"></h1>
    </div>
    <div class="container">
        <div class="logo">
            <img class="imglogo" src="./static/img/logo.png">
        </div>
        <img class="mobile-menu" src="./static/img/menu.png"/>
        <div class="menu">
            <ul>
                <li><a href="#transparency" tkey="transparent"></a></li>
                <li><a href="#partner" tkey="contact"></a></li>
                <li><span class="cn">中文</span>｜<span class="en">EN</span></li>
            </ul>
        </div>
    </div>

</div>
<div class="banner" id="home" style="position: relative">
    <div class="container pc-show " style="position: relative">
    <img src="./static/img/top_banner.jpg" style="position: absolute;top: 0;z-index: -100;right: 0;display: block;/* height: 26%; */height: 535px;">
    </div>
    <img class="mobile-banner-show" src="./static/img/mobile_banner.png">
    <div class="container w-banner" style="position: relative;top:0;">
        <div class="block banner-title">
            <h1 class="header-h1" tkey="eosstablecoin"></h1>
        </div>
        <div class="banner-bottom banner-content">
            <h3 tkey="eosstabledes" class="format-text">
            </h3>
        </div>
    </div>
</div>
<div class="partner" id="partner">
    <div class="container">
        <h3 tkey="supwalleteos"></h3>
        <div class="partner-info">
            <a href="https://bitpie.com" target="_blank"><img src="./static/img/bitpie@2x.png"></a>
            <a href="https://hoo.com" target="_blank"><img src="./static/img/hoo@2x.png"></a>
            <a href="https://www.whaleex.com/" target="_blank"><img src="./static/img/whaleex@2x.png"></a>
            <a href="https://newdex.io/" target="_blank"><img src="./static/img/newdex@2x.png"></a>
            <a href="https://findex.pro" target="_blank"><img src="./static/img/findex@2x.png"></a>
            <a href="https://betdice.one/" target="_blank"><img src="./static/img/betdice@2x.png"></a>
            <a href="https://eosjacks.com/" target="_blank"><img src="./static/img/eosjacks@2x.png"></a>
            <a href="https://eospoker.win/" target="_blank"><img src="./static/img/eospoker@2x.png"></a>
            <a href="https://big.game/" target="_blank"><img src="./static/img/biggame@2x.png"></a>
            <a href="https://endless.game/" target="_blank"><img src="./static/img/endless@2x.png"></a>

        </div>
    </div>
</div>
<div  class="footer">
    <div class="container">
        <div class="footer-text">
            <p tkey="mail"></p>
        </div>
    </div>
</div>
<script type="text/javascript" src="./static/js/home.js"></script>
</body>
</html>