<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <link href="./static/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="./static/img/favicon.ico" rel="apple-touch-icon">
    <link rel="stylesheet" type="text/css" href="./static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <script type="text/javascript" src="./static/js/jquery-3.3.1.min.js"></script>
    <title tkey="eosstablecoin"></title>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <img class="imglogo" src="./static/img/logo.png">
        </div>
        <img class="mobile-menu" src="./static/img/menu.png"/>
        <div class="menu">
            <ul>
                <li><a href="#home" tkey="home"></a></li>
                <li><a href="#features" tkey="features"></a></li>
                <li><a href="#transparency" tkey="transparent"></a></li>
                <li><a href="#partner" tkey="contact"></a></li>
                <li><span class="cn">中文</span>｜<span class="en">EN</span></li>
            </ul>
        </div>
    </div>

</div>
<div class="banner" id="home" style="position: relative">
    <div class="container pc-show " style="position: relative">
    <img src="./static/img/top_banner.jpg" style="position: absolute;top: 0;z-index: -100;right: 0;display: block;/* height: 26%; */height: 535px;">
    </div>
    <img class="mobile-banner-show" src="./static/img/mobile_banner.png">
    <div class="container w-banner" style="position: relative;top:0;">
        <div class="block banner-title">
            <h1 class="header-h1" tkey="eosstablecoin"></h1>
        </div>
        <div class="banner-bottom banner-content">
            <h3 tkey="eosstabledes" class="format-text">
            </h3>
        </div>
    </div>
</div>
<div class="section section-info" id="features">
    <div class="container">
        <div class="block">
            <img src="./static/img/stable@2x.png" >
        </div>
        <div class="block">
            <h6 tkey="stable"></h6>
            <h1 tkey="stabledes" class="format-text"></h1>
        </div>
    </div>
</div>
<div class="section">
    <div class="container safe">
        <div class="block">
            <img src="./static/img/safe@2x.png" >
        </div>
        <div class="block">
            <h6 tkey="safe"></h6>
            <h1 tkey="safedes" class="format-text"></h1>
        </div>
    </div>
</div>
<div class="section">
    <div class="container trans">
        <div class="block">
            <img src="./static/img/transparent@2x.png">
        </div>
        <div class="block">
            <h6 tkey="transparent"></h6>
            <h1 tkey="transparentdes" class="format-text">
            </h1>

        </div>
    </div>
</div>
<div class="section" id="des">
    <div class="container">
        <h5 tkey="expense"></h5>
        <p tkey="expensedes" class="format-text"></p>
        <p class="pinfo format-text" tkey="expenseinfo">
        </p>
    </div>

</div>
<div class="fund" id="transparency">
    <div class="container">
        <h3 tkey="support"></h3>
        <div class="audit-section btc">
            <h4 class="audit-des">
                <strong>BTC</strong>
                <span class="info-tips" tkey="infotips"></span>
                <span class="tips"></span>
            </h4>
            <div class="audit-list">
                <ul>
                    <li><span>BTC <strong tkey="cwa"></strong></span><span class="mobileshow" tkey="displayaddress"></span><small class="greens address-tips" title="">1YSscuNjW4hDDCPgvP8q9JfZmNEDBrEWu</small></li>
                    <li><span>BTC <strong tkey="cwb"></strong></span><small class="greens cold "    title=""></small></li>
                    <!--<li><span>BTC <strong tkey="tb"></strong></span><small class="greens total"    title=""></small></li>-->
                    <li><span>EBTC <strong tkey="ic"></strong></span><small class="greens eosvalue"    title="" ></small></li>
                </ul>
            </div>
        </div>
        <div class="audit-section eth">
            <h4 class="audit-des">
                <strong>ETH</strong>
                <span class="info-tips" tkey="infotips"></span>
                <span class="tips"></span>
            </h4>
            <div class="audit-list">
                <ul>
                    <li><span>ETH <strong tkey="cwa"></strong></span><span class="mobileshow" tkey="displayaddress"></span><small class="greens address-tips" title="">0xf64edd94558ca8b3a0e3b362e20bb13ff52ea513</small></li>
                    <li><span>ETH <strong tkey="cwb"></strong></span><small class="greens cold"    title=""></small></li>
                    <!--<li><span>ETH <strong tkey="tb"></strong></span><small class="greens total"    title="" ></small></li>-->
                    <li><span>EETH <strong tkey="ic"></strong></span><small class="greens eosvalue"    title="" ></small></li>
                </ul>
            </div>
        </div>
        <div class="audit-section usdt">
            <h4 class="audit-des">
                <strong>USDT</strong>
                <span class="info-tips" tkey="infotips"></span>
                <span class="tips"></span>
            </h4>
            <div class="audit-list">
                <ul>
                    <li><span>USDT <strong tkey="cwa"></strong></span><span class="mobileshow" tkey="displayaddress"></span><small class="greens address-tips mul"><span class="address1">15SZafVE21z1vL6qRmwK6aZiLnDCNfVkH3</span><span class="address2">1DR5XnVdym8VD5eWLJrApdfpPKs8fgQNo9</span></small></li>
                    <li><span>USDT <strong tkey="cwb"></strong></span><small class="greens cold"    title="" ></small></li>
                    <!--<li><span>USDT <strong tkey="hwa"></strong></span><span class="mobileshow" tkey="displayaddress"></span><small class="greens address-tips"></small></li>-->
                    <!--<li><span>USDT <strong tkey="hwb"></strong></span><small class="greens hot" title=""></small></li>-->
                    <!--<li><span>USDT <strong tkey="tb"></strong></span><small class="greens total"    title=""></small></li>-->
                    <li><span>EUSD <strong tkey="ic"></strong></span><small class="greens eosvalue"    title=""></small></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="partner" id="partner">
    <div class="container">
        <h3 tkey="supwalleteos"></h3>
        <div class="partner-info">
            <a href="https://bitpie.com" target="_blank"><img src="./static/img/bitpie@2x.png"></a><a href="https://hoo.com" target="_blank"><img src="./static/img/hoo@2x.png"></a><a href="https://www.whaleex.com/" target="_blank"><img src="./static/img/whaleex@2x.png"></a>
            <a href="https://newdex.io/" target="_blank"><img src="./static/img/newdex@2x.png"></a><a href="https://findex.pro" target="_blank"><img src="./static/img/findex@2x.png"></a><a href="https://betdice.one/" target="_blank"><img src="./static/img/betdice@2x.png"></a><a href="https://eosjacks.com/" target="_blank"><img src="./static/img/eosjacks@2x.png"></a>
            <a href="https://eospoker.win/" target="_blank"><img src="./static/img/eospoker@2x.png"></a><a href="https://big.game/" target="_blank"><img src="./static/img/biggame@2x.png"></a><a href="https://endless.game/" target="_blank"><img src="./static/img/endless@2x.png"></a>

        </div>
    </div>
</div>
<div  class="footer">
    <div class="container">
        <div class="footer-text">
            <p tkey="mail"></p>
            <a class="terms" href="/terms" target="_blank" tkey="terms"></a>
        </div>
    </div>
</div>
<script type="text/javascript" src="./static/js/home.js"></script>
</body>
</html>