<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <title>Terms</title>
    <style>
        .middle{
            width: 940px;
            text-align: left;
            margin: 0 auto;
        }

        .content{
            padding-top: 20px;
        }

        @media (min-width: 320px) and (max-width: 768px) {
            .middle {
                width: 90%;
                margin: 0 auto;

            }
        }
    </style>
</head>
<body>
<div class="middle">
    <div class="content">
        <h1>Terms and Conditions</h1>
        <p>By accessing webpages eosstablecoin.com (“the Website”) or cross chain gateway (“the Gateway”) you (“you, your or yourself”) are agreeing to accept and comply with the terms and conditions stated below (“Terms of Use”). You should read the entire Terms of Use carefully before using the Website or the Gateway.</p>
        <p>The Website and the Gateway are operated by Piehash Limited (“the Company”). a private incorporation which is registered in Republic of Seychelles.</p>
    </div>
    <div class="content">
        <h2>Use of the Website materials</h2>
        <p>The purpose of this Website is to provide its visitors with information about EOS Stablecoin project, services, data as well as to provide a Support platform.</p>
        <p>The company uses reasonable efforts to ensure that the Website is constantly available twenty-four hours a day, seven days a week. However, there might be occasions when the Website can be interrupted for maintenance, repairs or due to failure of telecommunications links and equipment. Every reasonable step will be taken by the Company to minimize such disruptions.</p>
    </div>
    <div class="content">
        <h2>Use of the Gateway</h2>
        <p>The purpose of the Gateway is to provide it users with 2-way blockchain asset swap services where users are able to make two-way swaps between following assets pairs:</p>
        <p>BTC from Bitcoin network and EBTC from EOS network.</p>
        <p>ETH from Ethereal network and EETH from EOS network.</p>
        <p>USDT from Bitcoin network using the Omni Layer and EUSD from EOS network.</p>
        <p>EBTC, EETH and EUSD are standard tokens on EOS network (Contract Account: bitpietokens). EBTC, EETH and EUSD are fully reserved by assets in original blockchain, all stable coins in circulation are less than or equal to the balance held in our reserve.</p>
        <p>Please aware that Bitcoin, Ethereal and EOS are community-driven blockchains, there is no centralized management agency. The availability of those blockchains may vary from time to time. Blockchain technology is still in an early stage, all of those blockchains may experience bugs or unpredictable issues. You agree that the Company will not be liable in any event to you or any other party for the interruption in the Gateway cause by availability, bugs or unpredictable issues of Bitcoin, Ethereal or EOS networks.</p>
        <p>USDT is based on the Omni Layer Protocol of Bitcoin Blockchain, the availability of USDT could be affected by availability, bugs or unpredictable issues of bitcoin network and omni layer protocol. All USDT are issued by Tether platform where is the only platform users can redeem USDT to US. dollar. Tether platform is operated by Tether Operations Limited. You agree that the Company will not be liable in any event to you or any other party for the interruption caused by USDT network or Tether Platform.</p>
        <p>The company uses reasonable efforts to ensure that the Gateway is constantly available twenty-four hours a day, seven days a week. However, there might be occasions when the Gateway can be interrupted for maintenance, repairs or due to failure of telecommunications links and equipment. Every reasonable step will be taken by the Company to minimize such disruptions.</p>
    </div>
    <div class="content">
        <h2>No representations</h2>
        <p>The Website and all of the information and materials within it have been prepared with the aim of providing key general information only and do not constitute professional (financial, legal or otherwise) advice in relation to any particular situation and should not be used as such. The company cannot accept responsibility for actions based on the material contained herein.</p>
        <p>The company make no representations whatsoever about any external or third-party website that you may access through the Website. Occasionally, the Website may contain references or links to other websites (“External Websites”). You agree that we are in no way responsible or liable for the External Websites referenced or linked from the Website and that you shall bear all risks associated with the use of such content.</p>
    </div>
    <div class="content">
        <h2>Acknowledgement</h2>
        <p>We will use our reasonable endeavors to ensure that the information on our website is accurate. However, you acknowledge and agree that the company and its employees accept no liability whatsoever for any loss or damage caused by or arising directly or indirectly in connection with any use or reliance on the contents of the Website except to the extent that such liability cannot be excluded by law.</p>
        <p>You acknowledge and agree that you are responsible for all actions taken within the Website or the Gateway by it, and its administrators, all actions you direct the company and its employees to undertake on your behalf.</p>
        <p>You agree that the Company will not be liable in any event to you or any other party for the interruption in the Website’s and the Gateway’s availability.</p>
    </div>
    <div class="content">
        <h2>Disclaimer</h2>
        <p>The Website and materials provided on the Website are provided “as-is” without representation or warranty of any kind, including, without limitation, any implied warranties of merchantability, fitness for a particular purpose, course of dealing, course of performance, usage of the trade, non-infringement, accuracy or security. Without limitation of the foregoing, the company does not warrant any third-party materials, services, support, products by parties other than the company. The company agrees to provide reasonable support for the Website and materials provided on the Website; however, no service level agreement shall apply.</p>
        <p>Statements and explanations of the Website and materials provided on the Website are made for explanatory purposes only; they are not meant to constitute any guarantee or warranty of certain features. Without limitation of the foregoing the company does not represent or endorse the accuracy or reliability of any (a) links to web-pages of third parties contained on the Website, or the content obtainable on such web-pages or (b) information provided by third parties on the Website.</p>
    </div>
    <div class="content">
        <h2>Severability</h2>
        <p>If any provision of these Terms is deemed unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from these Terms and will not affect the validity and enforceability of any remaining provisions.</p>
    </div>
    <div class="content">
        <h2>Acceptance of the Terms of Use</h2>
        <p>If you do not accept these Terms, you must refrain from using the Website or gateway portal. If you continue to use the Website or the gateway portal, you will be deemed to have accepted these Terms of Use. These Terms of Use must be read in conjunction with any other applicable terms and warnings governing the use of the Website.</p>
    </div>
    <div class="content">
        <h2>Governing law</h2>
        <p>These Terms of Use shall be governed by the laws of Republic of Seychelles. You agree to submit to the jurisdiction of Republic of Seychelles for any and all disputes, claims and actions arising out of or in connection with the information provided to you herein.</p>
    </div>
    <div class="contant">
        <h2>Miscellaneous</h2>
        <p>If we are unable to use the Website or the Gateway in a manner outlined in the Terms of Use due to factors beyond our control including but not limited to an event of force majeure, change of law or change in sanctions policy, we shall not be liable for your use of the Website or the Gateway under these Terms of Use during the time period coincident with the event.</p>
        <p>The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.</p>
    </div>
    <div class="contant">
        <h2>Changes to Terms of Use</h2>
        <p>We reserve the right to change, add or remove parts of these Terms of Use at any time and at our sole discretion. The changes will be posted on website, it is your responsibility to review the amended Terms of Use. Your continued use of the Website or gateway portal following the posting of a notice of changes to the Terms signifies that you accept and agree to the changes.</p>
    </div>
    <div class="footer">
        <p>IF YOU DO NOT ACCEPT THE TERMS OF USE, DO NOT ACCESS THIS WEBSITE OR THE GATEWAY.</p>
        <p>Last updated: Dec 8th, 2018</p>
    </div>
</div>
</body>
</html>